<% layout('layout') -%>

<script> var user = '<%= username %>';</script>
<script src="script/lib/jquery-input/jquery.input.js"></script>
<script src="script/lib/jquery.event.drag-2.2.js"></script>
<script src="script/jupiterNode.class.js"></script>
<script src="script/jupiterOp.js"></script>
<script src="script/jupiterClient.js"></script>

<section id="jupiterDoc">
	<p id="waitMsg">Please wait, fetching the awesomeness</p>
</section>
