<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
	<title>docpal - <%= title %></title>
	<script type="text/javascript">
	// ---- GLOBAL VAR
	var rest = "<%= rest %>";

	</script>
	<script src="jquery/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>

	<header class="header" role="banner">
		<h1>docpal</h1>
	</header>

	<div class="container">

		<%- body %>

		<footer>&copy; Benjamin Bill Planche (<a href="http://github.com/Aldream" title="Benjamin Bill Planche's Github Account">git:Aldream</a>) & Vu-Hieu Le (<a href="http://github.com/Polo417" title="Vu-Hieu Le's Github Account">git:Polo417</a>)</footer>

	</div>
</body>
</html>
